@import "../../assets/variables.scss";

.tasks__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: background-color 0.2s ease-in-out;
}

.tasks__item:hover{
    background-color: $hover;
}